html,body{
    overflow-x: hidden !important;
}
body{
    font-family: CAIRO;
    overflow: auto;
}
.navbar-brand img {

    height: 60px;
}
.nav-link{
    color: black;
}
.nav-item {
    text-align: left;
}
.navbar-toggler {
    border: none;
    color: #7dc7e0;
}
button.navbar-toggler:focus {
    outline: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,173,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.header-side {
    background-image: url(../imgs/header-side.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    background-size: contain;

}
.head-text {
    color: #233142;
    margin-top: 9rem;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 8rem;
    margin-left: 2rem;

}

.header-img {

    width: 100%;
    height: 100%;
    padding-top: 3rem;

}
.head-line {

    border-bottom: 2px solid #3AADE6;
    width: 6%;
    padding-top: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.who {
    color: #233142;
    text-align: center;
    padding-top: 3rem;

}

.modify-height {

    height: 500px;
}
.we {
    font-size: 1.3rem;
    margin-top: 9rem;
    margin-left: 12rem;
    margin-right: 5rem;
    
}
.me{
    width: 80%;
    height: 80%;
    padding-top: 3rem;
    margin-right: 3rem;
    margin-top: 0rem;
}
/*what we offer*/

.what {
    text-align: center;
    padding-top: 5rem;
}

.we-offer {
    background-image: url(../imgs/we-offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.custom-padding {

    padding-bottom: 2rem;
}
.service-thum {
    padding-top: 2rem;
    width: 50% !important;
    margin: 0 auto;
}

.service-title {
    font-size: 15px;
    text-align: center;
    color: #3AADE6;
}

.design-img {
    padding-top: 1rem;
    width: 20%;
    margin: 0 auto;
}
.card-img-top{
    border-radius: 7%;
}

.card {
    margin-bottom: 1.5rem;
    border-radius: 7% ;
    margin: 0 auto; 
    float: none; 
   
    margin-top: 2rem;

}
.card-text {
    color: #233142;
    text-align: center;
}

#articles .card-text{
    min-height: 48px;
}

.owl-carousel {

    padding: 3rem;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    padding: 0 10px !important;
}

button:focus {
    outline: none;
}
/*our work section*/
#our-work{
    background-image: url(../imgs/bg30-Ar1web.gif);

}
.card-img{
    
    border-radius: 50px;
}
.more{
    text-align: center;
}
.watch-more {
    background-color: #233142;
    color: white;
    padding: 10px 80px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px #888888; 
    margin-top: 45px;
    margin-bottom: 70px;
}

.card-shadow{
    
    box-shadow: 5px 5px 15px #888888;
    
}
.btn-design{
    background-color: #233142;
    color: white;
    padding: 10px 32px;
    margin-left: 62px;
    border-radius: 50px;
}
.our-work{
    padding-right: 1rem;
}
/*our client section*/

.owl-item-active{
    width: 200px;
}

.our-client {

    background-image: url(../imgs/our-client-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 3rem;
}

.clients {
    width: 60%;
    margin: 0 auto;
}

.pagination{
    text-align: center;

}

/*footer section*/

.footer{
    background-image: url(../imgs/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.footer-vec{
    margin-right: 3rem;
    padding-right: 2rem;
    width: 248px;
    margin-bottom: -33rem;
}
.footer-logo{
    width: 250px;
    margin-top: 10rem;
}
.address{
    color: rgb(255, 255, 255);
}
.social {
    margin-right: 10rem;
    font-size: 29px;
    margin: -8px;
    justify-content: inherit;
    display: flex;
}
.fab{
    color: white;
    padding: 20px;

}
.row{
    text-align: right;
}
.our-work-page{
    background-image: url(../imgs/bg30-Ar1web.gif);
}
.vertical-line {
    margin-top: 2rem;
    margin-right: 2rem;
    border-right: 4px solid #3AADE6;
    height: 50px;
    margin-bottom: 2rem;
}



.articles-page{
    background-image: url(../imgs/articles.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.windows{
    background-image: url(../imgs/bg30-Ar1web.gif);
}

.project2{
    padding-bottom: 57px;
    margin-right: 236px;
    width: 50%;
}
.details{
    background-image: url(../imgs/details-bg.png);
    padding-bottom: 5rem;
    width: 100%;
    padding-top: 5rem;
}
